h2 {
    font-weight:500;
}
.container{
text-align: center;
padding: 100px;
background-color: rgb(210, 238, 238);
}
.container1{
    display: block;
    text-align: center;
    padding: 250px;
    background-color: rgb(210, 238, 238);
}
.goto-btn {
    padding: 6px;
    width: 100px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
.goto-btn1 {
    padding: 6px;
    width: 100px;
    margin-inline-start: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
form {
    display: inline-block;
    background: #f1f1f1;
    border: 1px solid #ffffff;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1 ;
    border-radius: 2px;
    padding: 50px;
    margin: 2rem 0 1rem 2rem;
}

form label {
    float: left;
    font-size: 12px;
    margin-top:3px ;
    padding: 0;
}

.right-label {
    float: right;
    cursor: pointer;
}

input {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
    box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1 ;
    margin-top: 3px;
}

#sub_btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #222;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: #333;
    transition: all .5s
}

footer p {
    margin: 0;
    font-size: .9rem
}
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}